/*                 CSS Reset                   */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*                 global                   */
button,button:active,button:focus{
	background-color: transparent;
	border-color: transparent;
	font-family: Helvetica, sans-serif;
	outline-color: grey;
}
body{
	font-family: Helvetica, sans-serif;
	-webkit-user-select: none;
	width: 100%!important;
	height: 100%!important;
}
* {
    -webkit-tap-highlight-color: transparent;
}

/*                 core                   */
#content{
	text-align: center;
	height: 100%;
}
#secs{
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	font-size: 20px;
	z-index: 99999;
}
.top,.mid,.bot{
	position: absolute;
	height: 33.3%;
	width: 100%;
	left: 0;
	overflow: hidden;
	box-sizing: border-box;
}
.top{
	top: 0px;
}
.mid{
	top: 33.3%;
}
.bot{
	top: 66.6%;
}
.recordsWrap, .stagesWrap{
	float: left;
	width: 50%;
	display: none;
}
#records, #stages{
	width: 40%;
	margin: 0 auto;
	font-size: 2.2vh;
}
.begining #task,.begining #controls,.begining #reset,.begining #gbcount{
	display: none!important;
	height: 0px!important;
}
.begining #start{
	display: table;
}
.begining .recordsWrap{
	display: block;
}
.enter #task{
	display: table;
}
.enter #controls{
	display: block;
}
.enter #start{
	display: none;
}
.playing #controls{
	display: block;
}
.playing #task,.playing #reset,.enter #reset{
	display: table;
}
.playing #start{
	display: none;
}
#gbcount{
	position: absolute;
	width:100%;
	height:100%;
	background: white;
	display: none;
	z-index:999;
}
#gbcount>div{
	float: left;
	width: 33.3%;
}
#gbcount>div>div{
	background: white;
	width: 10vmin;
	height: 10vmin;
	margin: 11.6vmin auto;
	border-radius: 50%;
}
.st1,.st2,.st3{
	display: block!important;
}
.st1>div:nth-child(1)>div,.st2>div:nth-child(1)>div,.st2>div:nth-child(2)>div,.st3>div:nth-child(1)>div,.st3>div:nth-child(2)>div,.st3>div:nth-child(3)>div{
	background: black!important;
}
#task{
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	font-size: 110px;
	font-size: 17.1vh;
	text-align: center;
}
#reset, #start{
	text-align: center;
	font-size: 36px;	
	font-size: 4.4vh;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	display: table;
}
#resetTRUE, #start{
	cursor: pointer;
}
#reset>div, #start>div, #task>div{
	display: table-cell;
	vertical-align: middle;
}
#controls{
	border: 1px solid grey;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	transform: translateZ(0)
}
.nbut{
	float: left;
	font-size: 50px;
	font-size: 8vh;
	width: 20%;
	height: 50%;
	box-sizing: border-box;
	display: table;
	cursor: pointer;
}
.nbut:nth-child(n+6){
	border-bottom: 1px solid grey;
	margin-top: -1px;
}
.nbut>div{
	display: table-cell;
	vertical-align: middle;
}

.cor{
	background: rgb(189, 255, 192);
}
.err{
	background: rgb(255, 200, 200);
}
/*                 utils                   */
.f_l{
	float:left;
}
.f_r{
	float:right;
}
.hidden{
	display:none;
}
.visible{
	display:block;
}


